aiohttp==3.7.4.post0
async-timeout==3.0.1
attrs==21.4.0
chardet==4.0.0
discord==2.0.0
discord.py==2.0.1
idna==3.6
kaleido==0.2.1
multidict==6.0.4
plotly==5.11.0
python-dotenv==0.20.0
typing-extensions==4.2.0
yarl==1.9.4
yfinance==0.2.35
